* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  width: 100%;
  height: 100vh;
  padding: 0 10%;
  background: #f7efef;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  position: relative;
  z-index: 1; /*Z-INDEX HELPED THE TEXT TO OVERCOME THE IMAGE IIIIIMMMMMMPPPPP */
}
nav ul li {
  display: inline-block; /*Helps us to make the items in the vertical direction by making inlineblock */
  list-style: none;
  margin: 10px 30px; /* this helped us to give margin i.e space between the li items   IMP */
}

nav ul li a {
  text-decoration: none;
  color: #3f51b5;
}
.text-box {
  margin-top: 130px;
  max-width: 600px;  /*Given to the text to see ehere we wnat our text to end on the screen */
}

.text-box h1 {
  font-size: 45px;
  color: #3f51b5;
  margin-bottom: 30px;
}

/*Designing The Button */
.text-box a {
  display: inline-block;
  text-decoration: none;
  color: white;
  background: #3f51b5;
  margin-top: 40px;
  padding: 10px 30px;
  border-radius: 6px;
}


/*This Part is of the IMAGE Styling*/
.user-box {
  background: #d9e0ff;
   position: absolute; /* This helped us to bring the image which was at bottom of the header to RIGHT SIDE OF THE HEADER */
  top: 0;
  right: 12%;
}

.user-box img {
  display: block;
  padding-top: 100px; /*Gave Space from the top of the image */
  width: 410px; /*Width of the Image*/

  margin-bottom: -205px; /*helped us to make the Round Bottom */
}
